/*!
Author       : Bestwebcreator.
Template Name: Cryptocash - ICO & Cryptocurrency Landing Page HTML Template
Version      : 1.0
*/
a:hover,
header a:hover, 
.navbar-nav li a.active, 
.navbar-expand-lg .navbar-nav .dropdown-menu li a.active,
.navbar-expand-lg .navbar-nav .dropdown-item:hover,
.social_icon li a:hover,
.social_single_team li a:hover,
.social_team a:hover,
.blog_text a:hover,
.blog_meta a:hover,
.blog_meta a:hover i,
.footer_menu li a:hover, 
.footer_link a:hover,
.footer_social li a:hover,
.blog_title a:hover,
.blog_content_detail .blog_meta a:hover,
.blog_content_detail .blog_meta li a:hover i,
.blog_content_detail .blog_meta a:hover span,
.v_blue .social_icon li a:hover,
.v_blue_pro .blog_text a:hover, 
.v_blue_pro .blog_meta a:hover, 
.v_blue_pro .blog_meta a:hover i, 
.v_dark .blog_text a:hover, 
.v_dark .blog_meta a:hover, 
.v_dark .blog_meta a:hover i,
.v_dark .social_icon li a:hover,
.v_dark .social_single_team li a:hover,
.breadcrumb li a:hover,
.widget_category li a:hover, 
.widget_archive li a:hover,
.tags li a:hover,
.widget-post-content h6 a:hover,
.comment-reply:hover {
	color: #de934b;
}
.pr_box h6,
.chart_list_info li p span,
.v_dark .blog_text > a,
.v_dark .blog_meta a i {
	color: #56d6a7;
}
.single_roadmap.roadmap_done .roadmap_icon,
.rd_complete .roadmap_icon,
.roadmap_box.current .roadmap_inner,
.roadmap .owl-nav i:hover,
.box_roadmap .roadmap_inner::after {
	background-color: #de934b;
}
.roadmap_box.current .roadmap_inner::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #de934b;
}
.btn-default {
	background-image: -webkit-linear-gradient(left, #de934b 0%,#56d6a7 51%,#de934b);
	background-image: linear-gradient(to right, #de934b 0%,#56d6a7 51%,#de934b);
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active:focus, 
.btn-default:active:hover,
.btn-default.active,
.btn-default:active,
.btn-default.focus:active, 
.btn-default:focus,
.btn.active:not(:disabled):not(.disabled), 
.btn:active:not(:disabled):not(.disabled) {
	background-image: -webkit-linear-gradient(left, #56d6a7 0%,#de934b 51%,#56d6a7);
	background-image: linear-gradient(to right, #56d6a7 0%,#de934b 51%,#56d6a7);
}
.btn-border,
.btn.btn-border:hover,
.btn.btn-border.active.focus, 
.btn.btn-border.active:focus, 
.btn.btn-border.active:hover, 
.btn.btn-border:active:focus, 
.btn.btn-border:active:hover, 
.btn.btn-border.active, 
.btn.btn-border:active, 
.btn.btn-border.focus:active, 
.btn.btn-border:focus {
	background-image: -webkit-linear-gradient(left, #56d6a7 0%, #de934b 99%);
	background-image: linear-gradient(to right, #56d6a7 0%, #de934b 99%);
}
button,
.team_img.gradient_box::before,
.team_pop .progress-bar,
.tk_counter_inner .progress-bar.gradient {
	background-image: -webkit-linear-gradient(left, #de934b 0%,#56d6a7 99%);
	background-image: linear-gradient(to right, #de934b 0%,#56d6a7 99%);
}
.gradient_box {
	background-image: -webkit-linear-gradient(left, #de934b 0%,#56d6a7 99%) !important;
	background-image: linear-gradient(to right, #de934b 0%,#56d6a7 99%) !important;
}
.tags li a:hover {
	border-color: #de934b;
}